.navbar-logo img {
  content: url("/img/logo1.png");
  max-height: 4.7rem;
  transition: all 0.3s ease;
}
body.night .navbar-logo img {
  content: url("/img/logo2.png");
}
.footer-logo img {
  content: url("/img/logo1.png");
  max-height: 3.6rem;
  transition: all 0.3s ease;
}
body.night .footer-logo img {
  content: url("/img/logo2.png");
}
.widget[data-type="profile"] .has-text-centered .button.is-primary {
  min-width: 180px !important;
  width: 85% !important;
  max-width: 240px !important;
  text-align: center !important;
  display: inline-block !important;
}
